* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
  height: 100vh;
  padding: 1rem;
}

.flex {
  display: flex;
  gap: 1vw;
  margin-bottom: 2vh;
}

.big {
  background-color: #d9e9fd;
  width: 70vw;
  height: 31vh;
  border-radius: .7rem;
}

.small {
  background-color: #d9e9fd;
  width: 27vw;
  height: 31vh;
  border-radius: .7rem;
  padding: 1rem;
}
/* azul: 003da7*/

.content {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

.image {
  width: 30%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.question{
  padding: 2rem 0 1rem 0;
  color: #003da7;
  font-size: 2rem;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  letter-spacing: .1rem;
  align-self: center;
}

.top-text {
  font-weight: 800;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  font-weight: 800;
}

.button {
  font-size: .8rem;
  display: flex;
  margin-top: 1rem;
}

.btn-text {
  background-color: #003da7;
  color: #d9e9fd;
  padding: .5rem 3.3rem .5rem 1rem;
  border-radius: 10rem;
}

.btn-icon {
  background-color: white;
  color: #003da7;
  border-radius: 100%;
  padding: .4rem;
  position: relative;
  right: 1.5rem;
  font-size: 1.1rem;
}

.common-questions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding: 1.7rem 0;
}

.c-question {
  display: flex;
  align-items: center;
}

.question-text {
  background-color: #003da7;
  color: white;
  padding: .3rem;
  border-radius: 2rem;
  width: 90%;
  text-align: center;
}

.question-icon{
  background-color: white;
  color: #003da7;
  padding: .2rem;
  text-align: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 1.1rem;
}

.top {
  display: flex;
  justify-content: space-between;
  color: #003da7;
}

.top-title {
  font-weight: 900;

}

.top-btn {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top-btn-text {
  display: flex;
  font-size: .9rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.top-btn-icon {
  background-color: white;
  border-radius: 100%;
  font-size: 1.1rem;
  padding: .3rem;
  padding-bottom: 0.2rem;
  margin-bottom: .7rem;
}

table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

thead {
  padding-bottom: .5rem;
  border-bottom: solid .1rem white;
}

thead tr {
color: #003da7;
letter-spacing: .1rem;
font-weight: 100;
display: flex;
padding: 0 .5rem;
justify-content: space-between;
}

tbody {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

tbody tr {
background-color: white;
padding: .5rem .5rem;
border-radius: .3rem;
display: flex;
justify-content: space-between;
}

td {
  width: 6rem;
}

.status {
  width: 6rem;
  text-align: center;
  border-radius: .4rem;
  border: solid black .1rem;
  padding: .2rem;
  color: white;
}

.processado {
  background-color: forestgreen;
}

.analise {
  background-color: #f4aa11;
}

.recusado {
  background-color: firebrick;
}

.px-2 {
  padding: 2rem 2rem 1.1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card {
  background-color: white;  
  width: 10vw;
  height: 22vh;
  padding: 2rem .5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  bottom: .7rem;
}

.product-image {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.product-image img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.product-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-text {
  font-size: .8rem;
  font-weight: 900;
}

.product-icon {
  background-color: #d9e9fd;
  color: #003da7;
  padding: .3rem;
  border-radius: 100%;
  font-size: 1rem;
}

.flex-products {
  display: flex;
  gap: .5rem;
  padding-top: 1rem;
  align-items: center;
  align-items: baseline;
}

.products-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-line-icon {
  font-size: 2rem;
  color: #003da7; 
}

.navigation-bar {
  padding: 0 1rem 0 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .4rem;
  position: relative;
  bottom: 1.2rem;
  display: flex;
}

.navigation-dot {
  background-color: white;
  border-radius: 100%;
  padding: .3rem;
}

.navigation-dot-active {
  background-color: #003da7;
  border-radius: 100%;
  padding: .3rem;
}

.persons {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.person {
  display: flex;
  background-color: white;
  padding: .3rem;
  border-radius: .5rem;
  align-items: center;
}

.person-icon {
  font-size: 2rem;
}

.person-infos {
  padding: 0 1rem;
  width: 100%;
}

.row-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.person-date, .row-bottom {
  color: rgba(0, 0, 0, 0.8);
}

.requisitions {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.requisition-card {
  background-color: white;
  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
}

.requisition-number {
  display: flex;
  flex-direction: column;
  font: 900;
  font-size: .9rem;
}

.requisition-progress-line {
  display: flex;
}

.requisition-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.requisition-status {
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003da7;
  border: .15rem solid #003da7;
  background-color: white;
}

.step-title {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.6);
}

.connector {
  position: relative;
  top: .9rem;
  right: 1.1rem;
  width: 13rem;
  height: .14rem;
  background-color: #003da7;
}

.connector2 {
  position: relative;
  top: .9rem;
  right: 3.3rem;
  width: 13rem;
  height: .14rem;
  background-color: #003da7;
}

.connector3 {
  position: relative;
  top: .9rem;
  right: 5.65rem;
  width: 13rem;
  height: .14rem;
  background-color: #003da7;
}

.connector4 {
  position: relative;
  top: .9rem;
  right: 6.48rem;
  width: 13rem;
  height: .14rem;
  background-color: #003da7;
}

.relative-step {
  position: relative;
  right: 2.3rem;
}

.relative-step2 {
  position: relative;
  right: 5rem;
  background-color: transparent;
}

.relative-step3 {
  position: relative;
  right: 6rem;
}

.relative-step4 {
  position: relative;
  right: 7.8rem;
}

.relative-step5 {
  position: relative;
  right: 4rem;
}

.done {
  background-color: forestgreen;
  border: none;
  color: white;
}

.in-progress {
  background-color: #f4aa11;
  border: none;
  color: white;
}

.product-card2 {
  background-color: white;  
  width: 8vw;
  height: 22vh;
  padding: 2rem .5rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  bottom: .7rem;
}